<div class="holder">
  <form class="form" [formGroup]="form">
    <div class="form__list">
      <div class="input-group">
        <label for="email">Email</label>

        <input
          type="email"
          class="input-group__input--text"
          name="email"
          id="email"
          formControlName="email"
          autofocus
        />

        <div
          class="input-group__warnings"
          *ngIf="
            (email.touched && email.invalid) || (submitted && email.invalid)
          "
        >
          <small *ngIf="email.errors.required">To pole jest wymagane.</small>
          <small *ngIf="email.errors.email"
            >Zły format adresu email. "email@example.com"</small
          >
        </div>
      </div>

      <div class="input-group">
        <label for="password">Hasło</label>

        <input
          type="password"
          class="input-group__input--text"
          name="password"
          id="password"
          formControlName="password"
        />

        <div
          class="input-group__warnings"
          *ngIf="
            (password.touched && email.invalid) ||
            (submitted && password.invalid)
          "
        >
          <small *ngIf="password.errors.required">To pole jest wymagane.</small>
          <small *ngIf="password.errors.minlength"
            >Hasło musi zawierać przynajmniej
            {{ password.errors.minlength.requiredLength }} znaków.</small
          >
        </div>
      </div>

      <div class="input-group">
        <label for="confirmPassword">Powtórz hasło</label>

        <input
          type="password"
          class="input-group__input--text"
          name="confirmPassword"
          id="confirmPassword"
          formControlName="confirmPassword"
        />

        <div class="input-group__warnings" *ngIf="errorMessage != null">
          <small>{{ errorMessage }}</small>
        </div>

        <div
          class="input-group__warnings"
          *ngIf="
            (confirmPassword.touched && confirmPassword.invalid) ||
            (submitted && confirmPassword.invalid)
          "
        >
          <small *ngIf="confirmPassword.errors.required"
            >To pole jest wymagane.</small
          >
        </div>

        <small class="input-group__warnings" *ngIf="passwordsAreNotEqual">
          <small>Podane hasła różnią się od siebie.</small>
        </small>
      </div>

      <div class="input-group">
        <button class="list__button" (click)="onSubmit($event)">
          Zarejestruj
        </button>
      </div>
    </div>
  </form>
</div>
