.background {
  /* display: flex; */
  display: none;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .2);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;

}

.content {
  width: 25rem;
  max-height: 90%;
  overflow: auto;
  margin: 0 auto;
  border: 2px solid #252525;

  background: whitesmoke;
}

.form-content {
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning {
  color: crimson;
}

.mainHeader {
  font-size: 24px;
  border-bottom: 2px solid #262626;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-header {
  display: flex;
  justify-content: flex-end;
}

.item {
  width: 75%;
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, .3);
}

.item-info {
  font-size: 14px;
}

.button {
  border: none;
  margin-left: .5rem;
  background: none;
}

.button-add {
  margin-bottom: 1rem;
  border: 2px solid #262626;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: .4s ease;
}

.button-add:hover {
  color: whitesmoke;
  background: #262626;
}

.button-save,
.button-cancel {
  width: 100%;
  padding: .5rem 1rem;
  transition: .4s ease;
}

.button-save {
  border: 2px solid green;
  margin: 0;
  color: green;
}

.button-save:hover {
  background: green;
  color: whitesmoke;
}

.button-cancel {
  border: 2px solid orange;
  color: orange;
}

.button-save:hover {
  background: green;
  color: whitesmoke;
}

.button-cancel:hover {
  background: orange;
  color: whitesmoke;
}
