@import url("../../Style/subpage.css");

.image-box {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.input-group button {
  position: absolute;
  right: 0;
  top: 0;

  background: crimson;
  border: none;
  width: 30px;
  height: 30px;
}

button svg {
  width: 30px;
  height: 30px;
  color: white;
}
