/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

/* @import url("./app/Style/subpage.css"); */
/* Provide sufficient contrast against white background */
/* body {
  overflow-x: hidden;
} */

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

body {
  position: relative;
  background: whitesmoke;
}
