<div class="holder">
  <form class="form" [formGroup]="form">
    <div class="form__list">
      <div class="input-group">
        <label for="Email">Email</label>

        <input
          type="email"
          class="input-group__input--text"
          name="email"
          id="email"
          formControlName="email"
          autofocus
        />

        <div
          class="input-group__warnings"
          *ngIf="
            (email.touched && email.invalid) || (submitted && email.invalid)
          "
        >
          <small *ngIf="email.errors.required">To pole jest wymagane.</small>
          <small *ngIf="email.errors.email"
            >Zły format adresu email. "email@example.com"</small
          >
        </div>
      </div>

      <div class="input-group">
        <label for="password">Hasło</label>

        <input
          type="password"
          class="input-group__input--text"
          name="password"
          id="password"
          formControlName="password"
        />

        <div
          class="input-group__warnings"
          *ngIf="
            (password.touched && email.invalid) ||
            (submitted && password.invalid)
          "
        >
          <small *ngIf="password.errors.required">To pole jest wymagane.</small>
        </div>

        <div class="input-group__warnings" *ngIf="!isPasswordValid">
          <small>Zły email lub hasło</small>
        </div>
      </div>

      <div class="input-group">
        <a class="link" [routerLink]="['../register']"
          >Nie masz konta? Zarejestruj się!</a
        >
      </div>

      <div class="input-group">
        <button class="list__button" (click)="onSubmit($event)">Zaloguj</button>
      </div>
    </div>
  </form>
</div>
<!-- <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Login</h2>

    <div *ngIf="invalidLogin" class="alert alert-danger">
      Invalid username or password
    </div>

    <br />

    <label for="email" class="sr-only">Email address</label>
    <input
      type="text"
      id="email"
      name="email"
      ngModel
      class="form-control"
      placeholder="Email"
      required
      autofocus
    />

    <br />

    <label for="email" class="sr-only">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      class="form-control"
      placeholder="Password"
      required
    />
    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form> -->
