<step-menu></step-menu>

<div class="content">
  <section>
    <personal-data-form class="form"></personal-data-form>
    <div class="sideMenu">
      <div class="description">
        Podaj imię, nazwisko, numer telefonu i adres e-mail. Te dane są najbardziej potrzebne rekruterom. W CV nie
        musisz podawać daty urodzenia ani dokładnego adresu.
      </div>
    </div>
  </section>

  <section>
    <address-form class="form"></address-form>
    <div class="sideMenu">
    </div>
  </section>

  <section>
    <contact-data-form class="form"></contact-data-form>
    <div class="sideMenu">
    </div>
  </section>


  <section>
    <button>wróć</button>
    <button>dalej</button>
  </section>
</div>
