<step-menu></step-menu>

<div class="content">

  <section>
    <image-form class="form"></image-form>
    <div class="sideMenu">
      <div class="description">
        Dodaj swoje biznesowe zdjęcie. Dzięki niemu rekruter łatwiej Cię zapamięta i rozpozna przed rozmową.
      </div>
    </div>
  </section>

  <section>
    <personal-data-form class="form"></personal-data-form>
    <div class="sideMenu">
      <div class="description">
        Podaj imię, nazwisko, numer telefonu i adres e-mail. Te dane są najbardziej potrzebne rekruterom. W CV nie
        musisz podawać daty urodzenia ani dokładnego adresu.
      </div>
    </div>
  </section>

  <section>
    <address-form class="form"></address-form>
    <div class="sideMenu">
    </div>
  </section>

  <section>
    <contact-data-form class="form"></contact-data-form>
    <div class="sideMenu">
    </div>
  </section>


  <section>
    <button [routerLink]="['/creator/experience']" class="nextPageButton">Przejdź dalej</button>
  </section>
</div>
