<step-menu></step-menu>

<div class="content">
  <section class="content__section">
    <image-form></image-form>
    <p class="section__description">
      Dodaj swoje biznesowe zdjęcie. Dzięki niemu rekruter łatwiej Cię zapamięta
      i rozpozna przed rozmową.
    </p>
  </section>

  <section class="content__section">
    <personal-data-form></personal-data-form>
    <p class="section__description">
      Podaj imię, nazwisko, numer telefonu i adres e-mail. Te dane są
      najbardziej potrzebne rekruterom. W CV nie musisz podawać daty urodzenia
      ani dokładnego adresu.
    </p>
  </section>

  <section class="content__section">
    <address-form></address-form>
  </section>

  <section class="content__section">
    <contact-data-form></contact-data-form>
  </section>

  <section class="content__section">
    <div class="button-holder button-holder--single-btn">
      <button
        [routerLink]="['/creator/experience']"
        class="button-holder__button button-holder__button--single button-holder__button--next"
      >
        Przejdź dalej
      </button>
    </div>
  </section>
</div>
