form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;

  &__text {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    border-bottom: 2px solid #262626;
  }
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin-bottom: 12px;

  &__label {
    font-size: 18px;

    &--file {
      width: 100%;
      padding: 10px 20px;
      margin: 0 auto;
      color: white;
      background-color: #262626;
      cursor: pointer;
      text-align: center;
    }
  }

  &__input {
    padding: 10px 20px;
    border: 1px solid rgba(#262626, 0.3);
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;

    &--file {
      display: none;
    }
  }

  &__input:focus {
    outline: 3px solid rgba(#262626, 0.3);
  }

  &__warning {
    font-size: 12px;
    font-weight: bold;
    color: crimson;
  }

  &__button--save {
    padding: 10px 20px;
    border: none;
    background: #262626;
    color: white;
    width: 100%;
    margin-top: 13px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }

  &__image-box {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__image {
    width: 50%;
    object-fit: contain;
    margin: 15px auto;
  }
}

@media (min-width: 992px) {
  .input-group {
    width: 50%;
  }
}
