<form [formGroup]="form">
  <div class="caption">
    <h1 class="caption__text">Miejsce zamieszkania</h1>
  </div>
  <div class="input-group">
    <label for="address" class="input-group__label">Adres</label>
    <input type="text" class="input-group__input" formControlName="address" />

    <div
      class="input-group__warning"
      *ngIf="address.touched && address.invalid"
    >
      <small *ngIf="address.errors.required">To pole jest wymagane.</small>
      <small *ngIf="address.errors.minlength"
        >Nazwa stanowiska musi zawierać przynajmniej
        {{ address.errors.minlength.requiredLength }}
        znaków.</small
      >
    </div>
  </div>
  <div class="input-group">
    <button class="input-group__button--save" (click)="submit()">Zapisz</button>
  </div>
</form>
