<h2 class="header">Miejsce zamieszkania</h2>

<form class="form" [formGroup]="form" (focusout)="onSubmit($event)">
  <div class="form__list">
    <div class="input-group">
      <label class="input-group__label" for="country">Kraj</label>
      <input
        type="text"
        class="input-group__input--text"
        name="country"
        id="country"
        formControlName="country"
      />
    </div>

    <div class="input-group">
      <label class="input-group__label" for="city">Miejscowość *</label>
      <input
        type="text"
        class="input-group__input--text"
        name="city"
        id="city"
        formControlName="city"
        [class.border-danger]="
          (city.invalid && city.touched) || (formSubmitted && city.invalid)
        "
      />
    </div>

    <!-- <div class="input-group">
      <button class="list__button" (click)="onSubmit($event)">Zapisz</button>
    </div> -->
  </div>
</form>
