<h2 class="mainHeader">Znajomość języków</h2>

<div class="item-list">
  <div class="item-row" *ngFor="let item of languagesList; let i = index">
    <p class="item-info">{{ item.language}} - {{ item.level }}</p>

    <button class="button" (click)="delete(i)">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
        <path fill-rule="evenodd"
          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
      </svg>
    </button>
  </div>

  <form [formGroup]="languagesForm">
    <div class="row">

      <div>
        <label for="language">Język *</label>
        <input type="text" class="form-control" name="language" id="language" formControlName="language"
          [class.border-danger]="language.invalid && language.touched">
        <div *ngIf="(language.touched && language.invalid)  || (formIsInvalid && language.invalid)">
          <small *ngIf="language.errors.required" class="form-text warning">To pole jest wymagane.</small>
        </div>
      </div>

      <div>
        <label for="languageLevel">Poziom *</label>
        <select class="form-control" id="languageLevel" name="languageLevel" formControlName="languageLevel"
          [class.border-danger]="languageLevel.invalid && languageLevel.touched">
          <option *ngFor="let item of getLanguageLevels()" value="{{item}}">{{item}}</option>
        </select>

        <div *ngIf="(languageLevel.touched && languageLevel.invalid) || (formIsInvalid && languageLevel.invalid)">
          <small *ngIf="languageLevel.errors.required" class="form-text warning">To pole jest wymagane.</small>
        </div>
      </div>

      <h6 *ngIf="languageIsInTheList()" class="warning">Ten język jest już na liście.</h6>
    </div>
  </form>
  <button class="button button-add" (click)="submit()"><svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16"
      class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
    Dodaj pozycję
  </button>
</div>


<!-- 
<div class="item-list">
  <div class="item-row" *ngFor="let item of languagesList; let i = index">
    {{item.language}} - {{item.level}}
    <div class="button-holder">
      <button class="button" (click)="delete(i)">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
          <path fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        </svg>
      </button>
    </div>
  </div>
</div>

<form [formGroup]="languagesForm" (ngSubmit)="submit()">

  <div class="row">

    <div>
      <label for="language">Język *</label>
      <input type="text" class="form-control" name="language" id="language" formControlName="language"
        [class.border-danger]="language.invalid && language.touched">
      <div *ngIf="(language.touched && language.invalid)  || (formIsInvalid && language.invalid)">
        <small *ngIf="language.errors.required" class="form-text warning">This field is required.</small>
      </div>
    </div>

    <div>
      <label for="languageLevel">Poziom *</label>
      <select class="form-control" id="languageLevel" name="languageLevel" formControlName="languageLevel"
        [class.border-danger]="languageLevel.invalid && languageLevel.touched">
        <option *ngFor="let item of getLanguageLevels()" value="{{item}}">{{item}}</option>
      </select>

      <div *ngIf="(languageLevel.touched && languageLevel.invalid) || (formIsInvalid && languageLevel.invalid)">
        <small *ngIf="languageLevel.errors.required" class="form-text warning">This field is required.</small>
      </div>
    </div>
    <h6 *ngIf="languageIsInTheList()" class="warning">This language is already on the list</h6>


  </div>

  <button class="button button-add">+ Add new language</button>
</form> -->
<!-- <div class="item-header">
  <h2>Languages</h2>
</div>
<div class="item-content">
  <h5 *ngFor="let item of languagesList; let i = index">{{item.language}} - {{item.level}}
    <button class="btn btn-danger" (click)="delete(i)">X</button></h5> -->

<!-- <form [formGroup]="languagesForm" (ngSubmit)="submit()" class="form">
  <div class="form-group row">
    <div>
      <label for="language">Język *</label>
      <input type="text" class="form-control" name="language" id="language" formControlName="language"
        [class.border-danger]="language.invalid && language.touched">
      <div *ngIf="(language.touched && language.invalid)  || (formIsInvalid && language.invalid)">
        <small *ngIf="language.errors.required" class="form-text warning">This field is required.</small>
      </div>
    </div>

    <div>
      <label for="languageLevel">Poziom *</label>
      <select class="form-control" id="languageLevel" name="languageLevel" formControlName="languageLevel"
        [class.border-danger]="languageLevel.invalid && languageLevel.touched">
        <option *ngFor="let item of getLanguageLevels()" value="{{item}}">{{item}}</option>
      </select>

      <div *ngIf="(languageLevel.touched && languageLevel.invalid) || (formIsInvalid && languageLevel.invalid)">
        <small *ngIf="languageLevel.errors.required" class="form-text warning">This field is required.</small>
      </div>
    </div>
    <h6 *ngIf="languageIsInTheList()" class="warning">This language is already on the list</h6>
  </div>
  <button class="button button-add">+ Add new language</button>
</form> -->

<!-- </div> -->
