<h2 class="header">Wykształcenie</h2>

<div class="item-list margin-top-50">
  <div class="item" *ngFor="let item of data; let i = index">
    <div class="item-header">
      <button class="button btn-icon" (click)="edit(i)">
        <svg
          width="20px"
          height="20px"
          viewBox="0 0 16 16"
          class="bi bi-pen"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
          />
        </svg>
      </button>
      <button class="button btn-icon" (click)="remove(i)">
        <svg
          width="30px"
          height="30px"
          viewBox="0 0 16 16"
          class="bi bi-x"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>
    </div>

    <div class="item-info">
      <h5>
        Okres: {{ item.startDate | date }} -
        {{ item.stillWorking ? "teraz" : (item.endDate | date) }}
      </h5>
      <h5>Nazwa Szkoły: {{ item.schoolName }}</h5>
      <h5>Poziom wykształcenia: {{ item.degree }}</h5>
      <h5>Specjalizacja: {{ item.specialization }}</h5>
      <h5>Opis: {{ item.description }}</h5>
    </div>
  </div>

  <button class="button-add" (click)="add()">Dodaj pozycję</button>
</div>

<form
  id="educationForm"
  class="background"
  [formGroup]="form"
  (ngSubmit)="onSubmit($event)"
>
  <div class="input-form-hidden">
    <div class="item-list">
      <div class="input-group width-100 margin-0">
        <h2 class="inner-header">Wykształcenie</h2>
      </div>

      <div class="input-group width-100 margin-top-s">
        <label for="schoolName">Nazwa szkoły *</label>
        <input
          type="text"
          class="input-text"
          name="schoolName"
          id="schoolName"
          [class.border-danger]="
            (schoolName.invalid && schoolName.touched) ||
            (formSubmitted && schoolName.invalid)
          "
          formControlName="schoolName"
        />
        <div
          *ngIf="
            (schoolName.touched && schoolName.invalid) ||
            (formSubmitted && schoolName.invalid)
          "
        >
          <small *ngIf="schoolName.errors.required" class="form-text warning"
            >To pole jest wymagane.</small
          >
          <small *ngIf="schoolName.errors.minlength" class="form-text warning"
            >Nazwa stanowiska musi zawierać przynajmniej
            {{ schoolName.errors.minlength.requiredLength }}
            znaków.</small
          >
        </div>
      </div>

      <div class="input-group width-100 margin-top-s">
        <label for="courseOfStudy">Kierunek</label>
        <input
          type="text"
          class="input-text"
          name="courseOfStudy"
          id="courseOfStudy"
          formControlName="courseOfStudy"
        />
      </div>
      <div class="input-group width-100 margin-top-s">
        <label for="degree">Poziom wykształcenia *</label>

        <select
          class="input-text"
          id="degree"
          name="degree"
          formControlName="degree"
          [class.border-danger]="
            (degree.invalid && degree.touched) ||
            (formSubmitted && degree.invalid)
          "
        >
          <option *ngFor="let item of getDegreeList()" value="{{ item }}">
            {{ item }}
          </option>
        </select>

        <div
          *ngIf="
            (degree.touched && degree.invalid) ||
            (formSubmitted && degree.invalid)
          "
        >
          <small *ngIf="degree.errors.required" class="form-text warning"
            >To pole jest wymagane.</small
          >
        </div>
      </div>
      <div class="input-group width-100 margin-top-s">
        <label for="specialization">Specjalizacja</label>
        <input
          type="text"
          class="input-text"
          name="specialization"
          id="specialization"
          formControlName="specialization"
        />
      </div>
      <div class="input-group width-100 margin-top-s">
        <label for="startDate">Data rozpoczęcia *</label>

        <input
          class="input-text"
          name="startDate"
          type="date"
          name="startDate"
          formControlName="startDate"
          [class.border-danger]="
            (startDate.invalid && startDate.touched) ||
            dateManager.startDateIsGreaterThanEndDate() ||
            (formSubmitted && startDate.invalid)
          "
        />
        <small
          *ngIf="dateManager.isFutureDate(this.startDate.value)"
          class="form-text warning"
          >Data rozpoczęcia nie może być z przyszłości.</small
        >
        <div
          *ngIf="
            (startDate.touched && startDate.invalid) ||
            (formSubmitted && startDate.invalid)
          "
        >
          <small *ngIf="startDate.errors.required" class="form-text warning"
            >To pole jest wymagane.</small
          >
        </div>
      </div>
      <div class="input-group width-100 margin-top-s">
        <label for="endDate">Data zakończenia *</label>

        <input
          class="input-text"
          name="endDate"
          type="date"
          name="endDate"
          formControlName="endDate"
          [class.border-danger]="
            (endDate.invalid && startDate.touched) ||
            dateManager.startDateIsGreaterThanEndDate() ||
            (formSubmitted && endDate.invalid)
          "
        />
        <small
          *ngIf="dateManager.startDateIsGreaterThanEndDate()"
          class="form-text warning"
          >Data rozpoczęcia nie może być "większa" niż data zakończenia.</small
        >
        <small
          *ngIf="dateManager.isFutureDate(this.endDate.value)"
          class="form-text warning"
          >Data zakończenia nie może być z przyszłości.</small
        >
        <div
          *ngIf="
            (endDate.touched && endDate.invalid) ||
            (formSubmitted && endDate.invalid)
          "
        >
          <small *ngIf="endDate.errors.required" class="form-text warning"
            >To pole jest wymagane.</small
          >
        </div>
      </div>
      <div class="input-group width-100 margin-top-s">
        <div class="checkbox-group">
          <input
            class="input-checkbox"
            type="checkbox"
            name="stillStudying"
            formControlName="stillStudying"
            (change)="onCheckboxChange()"
          />
          <label class="form-check-label"> Nadal się uczę </label>
        </div>
      </div>
      <div class="input-group width-100 margin-top-s">
        <label for="exampleTextarea">Opis</label>
        <textarea
          class="input-text"
          id="exampleTextarea"
          rows="3"
          name="description"
          formControlName="description"
        ></textarea>
      </div>

      <div class="input-group margin-top-s">
        <div class="button-holder">
          <button class="button btn-save" type="submit">Zapisz</button>
          <button class="button btn-cancel" (click)="hide($event)">
            Anuluj
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
