<div class="content">

  <section>
    <experience-form class="form"></experience-form>
    <div class="sideMenu">
      <div class="description">
        Wymień najważniejsze obowiązki w danej pracy i podkreśl swoje sukcesy. Postaraj się, żeby z Twojej historii
        zatrudnienia wynikało, że masz doświadczenie i kwalifikacje zgodne z wymaganiami potencjalnego pracodawcy.
      </div>
    </div>
  </section>


  <section>
    <education-form class="form"></education-form>
    <div class="sideMenu">
      <div class="description">
        Wpisz ostatnio ukończoną szkołę. Jeśli masz wykształcenie wyższe lub podyplomowe, podaj nazwę uczelni i kierunek
        studiów.
      </div>
    </div>
  </section>

  <section>
    <languages-form class="form"></languages-form>

    <div class="sideMenu">
      <!-- <div class="description">

      </div> -->
    </div>
  </section>
</div>
