nav {
  display: flex;
  justify-content: center;
}

.link-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;
}

.link-group__link {
  padding: 1rem 2rem;
  background: #262626;
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  font-size: 1.6rem;

  &--previous {
    grid-column-start: 1;
  }
  &--next {
    grid-column-start: 2;
  }
}

@media (min-width: 900px) {
  .link-group {
    width: 50%;
  }
}
