.form-content {
  border: 2px solid green;
  position: absolute;
  left: 0;
  width: 100%;
  /* min-height: 50vh; */
  overflow: hidden;
}

form {
  display: flex;
  transition: 1s ease-in-out;

  border: 1px solid red;
  width: 300vw;

}

section {
  width: 100vw;
  border: 1px solid blue;
}

.item-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid #262626;

}

.item-header {
  font-size: 2rem;
}


.item-content h5 {
  font-size: 15px;
}
