<div class="form-content">
  <form>
    <!-- <section>
      <div class="container">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" id="name">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email">
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control" id="phone">
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city">
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address">
        </div>

        <div class="form-group">
          <input type="file" id="fileInput" (change)="readFile()"><br>
          <img src="../../assets/person placeholder.jpg" height="200" id="imgPreview" alt="Image preview...">
        </div>
      </div>
    </section> -->


    <section>
      <div class="container">


        <div class="item-group">
          <div class="item-header">
            <h2>Education</h2>
            <button class="btn btn-primary" (click)="add()">Add</button>
          </div>
          <div class="item-content" *ngFor="let item of educationList; let i = index">
            <div class="btn-container">
              <button (click)="edit(i)">Edit</button>
              <button (click)="delete(i)">Delete</button>
            </div>
            <h5>Okres: {{item.StartDate | date}} - {{item.EndDate | date}}</h5>
            <h5>Kierunek: {{ item.CourseOfStudy}} </h5>
            <h5>Nazwa szkoły: {{ item.SchoolName }}</h5>
            <h5>Stopień: {{ item.Deegree}}</h5>
            <h5>Specjalizacja: {{ item.Specialization }}</h5>
          </div>
        </div>


      </div>
    </section>

    <section>
      <div class="container">
        trzeci element
      </div>
    </section>


  </form>
</div>
<button (click)="transform()">Click</button>
<!-- <app-education-form [educationList]="educationList"></app-education-form> -->
<app-education-form></app-education-form>
