<div class="wrapper">
  <app-progressbar style="margin-top: 25px"></app-progressbar>

  <app-image-form style="margin-top: 50px"></app-image-form>

  <app-personal-data-form style="margin-top: 50px"></app-personal-data-form>

  <app-address-form style="margin-top: 50px"></app-address-form>

  <app-contact-form style="margin-top: 50px"></app-contact-form>

  <app-creator-navigation
    style="margin-top: 50px; margin-bottom: 50px"
    [nextPage]="'/counter'"
    [prevPage]="'/counter'"
  ></app-creator-navigation>
</div>
