@import url("./../../Style/subpage.css");

.item__desc {
  margin: 15px 0 0 15px;
  font-size: 13px;
}

.description {
  margin: 10px;
}

.border-warning {
  border: 1px solid orange;
}

.temp-desc {
  font-size: 15px;
  margin: 0;
}

.reset-padding {
  padding: 0;
}

.input-with-btn {
  width: 100%;
  border-right: none;
}

.input-with-btn:focus ~ .btn-with-input {
  outline: 2px solid #1c1c1c;
}

.btn-with-input {
  display: flex;
  height: 100%;
  border: 1px solid #1c1c1c;
  border-left: none;
}

.btn-with-input svg {
  /* width: 50px; */
  width: 30px;
  height: 34px;
}

.red-borders {
  border: 1px solid crimson;
  border-left: none;
}

.margin-top {
  margin-top: 25px;
}

.hidden {
  display: none;
}
