.content {
  display: flex;
  margin-top: 50px;
  position: relative;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 2rem;
}

.content::before {
  content: "";
  position: absolute;
  left: 0;
  background: #1c1c1c;
  width: 99%;
  height: 1px;
  z-index: 1;
}

.item {
  display: flex;
  background: whitesmoke;
  /* justify-content: space-around; */
  align-items: center;
  /* width: 100%; */
  /* border: 1px solid blue; */
  /* padding: 0 1rem; */
  z-index: 2;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  border: 1px solid #1c1c1c;
  color: #1c1c1c;
}

.item:nth-of-type(2),
.item:nth-of-type(3),
.item:nth-of-type(4) {
  padding-left: 1rem;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  display: flex;
  font-size: 16px;
  color: #000;
  margin: 0 1rem;
}

a:hover {
  text-decoration: none;
}

.active {
  background: #1c1c1c;
  color: whitesmoke;
}
