<div class="content" id="tak">
  <a class="item" [routerLink]="['/creator/personalData']">
    <div class="circle" [routerLinkActive]="['active']">1</div>
    <h3>Dane podstawowe</h3>
  </a>


  <a class="item" [routerLink]="['/creator/experience']">
    <div class="circle" [routerLinkActive]="['active']">2</div>
    <h3>Doświadczenie</h3>
  </a>

  <a class="item" [routerLink]="['/creator/skills']">
    <div class="circle" [routerLinkActive]="['active']">3</div>
    <h3>Umiejętności</h3>
  </a>


  <a class="item">
    <div class="circle" [routerLinkActive]="['active']">4</div>
    <h3>Pobierz CV</h3>
  </a>
</div>
