@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

.menu {
  font-family: "Nunito", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 105vh;
  margin-top: 25px;
  background: white;

  position: fixed;
  top: -5%;
  z-index: 99;
  left: -100vh;

  transition: 0.5s;
}

.menu--show {
  left: 0;
}

.close-btn,
.open-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border: none;
  width: 50px;
  outline: none;
  height: 50px;
}

.close-btn {
  position: absolute;
  top: 50px;
  right: 40px;
}

.open-btn {
  margin-top: 25px;
}

.close-btn svg {
  color: #1c1c1c;
  width: 50px;
  height: 50px;
}

.item {
  display: flex;
  width: 75%;
  margin-bottom: 20px;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.item:last-of-type {
  margin-bottom: 0;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: white;
  color: #1c1c1c;
  border: 2px solid #1c1c1c;
  border-radius: 50%;
}

.text {
  font-size: 18px;
  margin: 0 0 0 10px;
}

@media (min-width: 992px) {
  .menu {
    flex-direction: row;
    align-items: center;
    position: static;
    justify-content: space-between;
    margin-top: 50px;
    background: transparent;

    left: auto;
    overflow: hidden;
    position: relative;
    height: auto;
  }

  .menu::before {
    content: "";
    position: absolute;
    left: 0;
    background: #1c1c1c;
    width: 99%;
    height: 1px;
    z-index: 1;
  }

  .item {
    margin: 0;
    width: auto;
    background: whitesmoke;
    padding: 0 20px;
    z-index: 2;
  }

  .item:first-of-type {
    padding-left: 0;
  }
  .item:last-of-type {
    padding-right: 0;
  }

  .circle {
    background: whitesmoke;
  }

  .close-btn,
  .open-btn {
    display: none;
  }
}

@media (min-width: 1200px) {
  .circle {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}

.active {
  background: #1c1c1c;
  color: whitesmoke;
}
