<h2 class="header">Dane personalne</h2>

<form class="form" [formGroup]="form" (focusout)="onSubmit($event)">
  <div class="form__list">
    <div class="input-group">
      <label for="firstName" class="input-group__label">Imię *</label>
      <input
        type="text"
        class="input-group__input--text"
        name="firstName"
        id="firstName"
        formControlName="firstName"
        [class.border-danger]="firstName.invalid && firstName.touched"
      />

      <div
        class="input-group__warnings"
        *ngIf="firstName.touched && firstName.invalid"
      >
        <small *ngIf="firstName.errors.required">To pole jest wymagane.</small>
        <small *ngIf="firstName.errors.minlength"
          >Nazwa stanowiska musi zawierać przynajmniej
          {{ firstName.errors.minlength.requiredLength }}
          znaków.</small
        >
      </div>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="lastName">Nazwisko *</label>
      <input
        type="text"
        class="input-group__input--text"
        name="lastName"
        id="lastName"
        formControlName="lastName"
        [class.border-danger]="lastName.invalid && lastName.touched"
      />

      <div
        class="input-group__warnings"
        *ngIf="lastName.touched && lastName.invalid"
      >
        <small *ngIf="lastName.errors.required">To pole jest wymagane.</small>
        <small *ngIf="lastName.errors.minlength"
          >Nazwa stanowiska musi zawierać przynajmniej
          {{ lastName.errors.minlength.requiredLength }}
          znaków.</small
        >
      </div>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="dateOfBirth"
        >Data urodzenia *</label
      >
      <input
        type="date"
        class="input-group__input--text"
        name="dateOfBirth"
        id="dateOfBirth"
        formControlName="dateOfBirth"
        [class.border-danger]="dateOfBirth.invalid && dateOfBirth.touched"
      />

      <div class="input-group__warnings">
        <small *ngIf="dateManager.isFutureDate(this.dateOfBirth.value)"
          >Data urodzenia nie może być z przyszłości.</small
        >
      </div>
      <div
        class="input-group__warnings"
        *ngIf="dateOfBirth.touched && dateOfBirth.invalid"
      >
        <small *ngIf="dateOfBirth.errors.required"
          >To pole jest wymagane.</small
        >
      </div>
    </div>

    <!-- <div class="input-group">
      <button class="list__button" (click)="onSubmit($event)">Zapisz</button>
    </div> -->
  </div>
</form>
