<form action="" [formGroup]="form" class="form">
  <div class="loader" *ngIf="waitingForResponse">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100"
      height="100"
      fill="currentColor"
      class="bi bi-arrow-clockwise"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
      />
      <path
        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
      />
    </svg>
  </div>
  <div class="caption">
    <h1 class="caption__text">Dane personalne</h1>
  </div>

  <div class="input-group">
    <label for="name" class="input-group__label">Imię</label>
    <input type="text" class="input-group__input" formControlName="firstName" />

    <div
      class="input-group__warning"
      *ngIf="
        (firstName.touched && firstName.invalid) ||
        (formIsSubmitted && firstName.invalid)
      "
    >
      <small *ngIf="firstName.errors.required">To pole jest wymagane.</small>
      <small *ngIf="firstName.errors.minlength"
        >Nazwa stanowiska musi zawierać przynajmniej
        {{ firstName.errors.minlength.requiredLength }}
        znaków.</small
      >
    </div>
  </div>

  <div class="input-group">
    <label for="name" class="input-group__label">Nazwisko</label>
    <input type="text" class="input-group__input" formControlName="lastName" />

    <div
      class="input-group__warning"
      *ngIf="
        (lastName.touched && lastName.invalid) ||
        (formIsSubmitted && lastName.invalid)
      "
    >
      <small *ngIf="lastName.errors.required">To pole jest wymagane.</small>
      <small *ngIf="lastName.errors.minlength"
        >Nazwa stanowiska musi zawierać przynajmniej
        {{ lastName.errors.minlength.requiredLength }}
        znaków.</small
      >
    </div>
  </div>

  <div class="input-group">
    <label for="name" class="input-group__label">Data urodzenia</label>
    <input
      type="date"
      class="input-group__input"
      formControlName="dateOfBirth"
    />

    <div
      class="input-group__warning"
      *ngIf="
        (dateOfBirth.touched && dateOfBirth.invalid) ||
        (formIsSubmitted && dateOfBirth.invalid)
      "
    >
      <small *ngIf="dateOfBirth.errors.required">To pole jest wymagane.</small>
    </div>
  </div>

  <div class="input-group">
    <button
      *ngIf="!waitingForResponse"
      class="input-group__button--save"
      (click)="submit()"
    >
      Zapisz
    </button>
  </div>
</form>
