@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

.header {
  font-family: "Nunito", sans-serif;
  font-weight: lighter;

  padding: 10px 0;
  letter-spacing: 3px;
  text-align: center;
  border-bottom: 1px solid #1c1c1c;
  font-size: 25px;
}

.input-form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  /* align-items: center; */
}

label {
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  font-size: 13px;
  margin: 0;
}

.input-text {
  /* width: 50%; */
  padding: 5px 10px;
  border: 1px solid #1c1c1c;
  outline: none;
}

.input-text:focus {
  outline: 2px solid black;
}

.input-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
  /* height: 200px; */
}

.flex-column {
  flex-direction: column;
}

.image-box {
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 2px solid green; */
}

.image-box img {
  width: 25%;
}

.button-add {
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  margin-top: 50px;
  padding: 10px 20px;
  background: white;
  border: 1px solid #1c1c1c;
  font-size: 20px;

  transition: 0.3s;
}

.button-add:hover {
  background-color: #1c1c1c;
  color: white;
}

.warning {
  color: crimson;
}

/* .box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.mainHeader {
  font-size: 24px;
  border-bottom: 2px solid #262626;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}


#fileInput {
  margin-bottom: 1rem;
}

.imgHolder {
  position: relative;
  width: 40%;
}

.imgHolder img {
  width: 100%;
}

.imgHolder button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  border: none;
  border-radius: 50%;
  background: crimson;
  color: white;
  position: absolute;
  top: .5em;
  right: .5em;
} */

/* .background {
  display: none;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .2);
  position: fixed;
  left: 0;
  top: 0;
}

.content {
  width: 25rem;
  max-height: 90%;
  overflow: auto;
  margin: 0 auto;
  border: 2px solid #252525;

  background: whitesmoke;
}

.form-content {
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warning {
  color: crimson;
}

.mainHeader {
  font-size: 24px;
  border-bottom: 2px solid #262626;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-header {
  display: flex;
  justify-content: flex-end;
}

.item {
  width: 75%;
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, .3);
}

.bg-transparent {
  background: transparent;
}

.item-info {
  font-size: 14px;
}

.button {
  border: none;
  margin-left: .5rem;
  background: none;
}

.button-add {
  margin-bottom: 1rem;
  border: 2px solid #262626;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: .4s ease;
}

.button-add:hover {
  color: whitesmoke;
  background: #262626;
}

.button-save,
.button-cancel {
  width: 100%;
  padding: .5rem 1rem;
  transition: .4s ease;
}

.button-save {
  border: 2px solid green;
  margin: 0;
  color: green;
}

.button-save:hover {
  background: green;
  color: whitesmoke;
}

.button-cancel {
  border: 2px solid orange;
  color: orange;
}

.button-save:hover {
  background: green;
  color: whitesmoke;
}

.button-cancel:hover {
  background: orange;
  color: whitesmoke;
} */
