<h2 class="header">Dane kontaktowe</h2>

<form class="form" [formGroup]="form">
  <div class="form__list">
    <div class="input-group">
      <label class="input-group__label" for="phoneNumber"
        >Numer telefonu *</label
      >
      <input
        type="text"
        class="input-group__input--text"
        name="phoneNumber"
        id="phoneNumber"
        formControlName="phoneNumber"
      />

      <div
        class="input-group__warnings"
        *ngIf="
          (phoneNumber.touched && phoneNumber.invalid) ||
          (formSubmitted && phoneNumber.invalid)
        "
      >
        <small *ngIf="phoneNumber.errors.required"
          >To pole jest wymagane.</small
        >
        <small *ngIf="phoneNumber.errors.minlength"
          >Nieprawidłowy numer telefonu.</small
        >
      </div>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="email">Email *</label>
      <input
        type="text"
        class="input-group__input--text"
        name="email"
        id="email"
        formControlName="email"
        [class.border-danger]="
          (email.invalid && email.touched) || (formSubmitted && email.invalid)
        "
      />

      <div
        class="input-group__warnings"
        *ngIf="
          (email.touched && email.invalid) || (formSubmitted && email.invalid)
        "
      >
        <small *ngIf="email.errors.required">To pole jest wymagane.</small>
        <small *ngIf="email.errors.email"
          >Zły format adresu email. "email@example.com"</small
        >
      </div>
    </div>

    <div class="input-group">
      <button class="list__button" (click)="onSubmit($event)">Zapisz</button>
    </div>
  </div>
</form>

<!-- <h2 class="header">Dane kontaktowe</h2>

<form [formGroup]="form">
  <div class="item-list">
    <div class="item bg-transparent">
   
      <div class="form-group">
        <label for="phoneNumber">Numer telefonu *</label>
        <input
          type="text"
          class="form-control"
          name="phoneNumber"
          id="phoneNumber"
          formControlName="phoneNumber"
        />

        <div
          *ngIf="
            (phoneNumber.touched && phoneNumber.invalid) ||
            (formSubmitted && phoneNumber.invalid)
          "
        >
          <small *ngIf="phoneNumber.errors.required" class="form-text warning"
            >To pole jest wymagane.</small
          >
          <small *ngIf="phoneNumber.errors.minlength" class="form-text warning"
            >Nieprawidłowy numer telefonu.</small
          >
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email *</label>
        <input
          type="text"
          class="form-control"
          name="email"
          id="email"
          formControlName="email"
          [class.border-danger]="
            (email.invalid && email.touched) || (formSubmitted && email.invalid)
          "
        />

        <div
          *ngIf="
            (email.touched && email.invalid) || (formSubmitted && email.invalid)
          "
        >
          <small *ngIf="email.errors.required" class="form-text warning"
            >To pole jest wymagane.</small
          >
          <small *ngIf="email.errors.email" class="form-text warning"
            >Zły format adresu email. "email@example.com"</small
          >
        </div>
      </div>
    </div>

    <button class="button button-add" (click)="onSubmit($event)">
      <svg
        width="1.6rem"
        height="1.6rem"
        viewBox="0 0 16 16"
        class="bi bi-plus"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg>
      Zapisz
    </button>
  </div>
</form> -->
