<h2 class="header">Dane kontaktowe</h2>

<form class="form" [formGroup]="form" (focusout)="onSubmit($event)">
  <div class="form__list">
    <div class="input-group">
      <label class="input-group__label" for="phoneNumber"
        >Numer telefonu *</label
      >
      <input
        type="text"
        class="input-group__input--text"
        name="phoneNumber"
        id="phoneNumber"
        formControlName="phoneNumber"
        [class.border-danger]="phoneNumber.touched && phoneNumber.invalid"
      />

      <div
        class="input-group__warnings"
        *ngIf="phoneNumber.touched && phoneNumber.invalid"
      >
        <small *ngIf="phoneNumber.errors.required"
          >To pole jest wymagane.</small
        >
        <small *ngIf="phoneNumber.errors.minlength"
          >Nieprawidłowy numer telefonu.</small
        >
      </div>
    </div>

    <div class="input-group">
      <label class="input-group__label" for="email">Email *</label>
      <input
        type="text"
        class="input-group__input--text"
        name="email"
        id="email"
        formControlName="email"
        [class.border-danger]="email.invalid && email.touched"
      />

      <div class="input-group__warnings" *ngIf="email.touched && email.invalid">
        <small *ngIf="email.errors.required">To pole jest wymagane.</small>
        <small *ngIf="email.errors.email"
          >Zły format adresu email. "email@example.com"</small
        >
      </div>
    </div>

    <!-- <div class="input-group">
      <button class="list__button" (click)="onSubmit($event)">Zapisz</button>
    </div> -->
  </div>
</form>
