<step-menu></step-menu>


<div class="content">
  <section>
    <skills-form class="form"></skills-form>
    <div class="sideMenu">
      <div class="description">
        Pokaż swoje mocne strony. Wpisz umiejętności, które pasują do oczekiwań pracodawcy opisanych w ogłoszeniu.
      </div>
    </div>
  </section>



  <section>
    <div class="buttonHolder">
      <button class="previousPageButton" [routerLink]="['/creator/experience']">Wróć</button>
      <button class="nextPageButton">Przejdź dalej</button>
    </div>
  </section>
</div>
